<ion-header>
    <ion-toolbar>
        <ion-title>chat</ion-title>
    </ion-toolbar>
</ion-header>

<div>
    <ion-button
        expand="full"
        (click)="Sair()"
    >
        Sair
    </ion-button>
</div>

<ion-tab-bar slot="bottom">

    <ion-tab-button (click)="RotaChat()">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>chat</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="RotaDiario()">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Diário</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="RotaPost()">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Post</ion-label>
    </ion-tab-button>
</ion-tab-bar>
