<ion-header>
    <ion-toolbar>
        <ion-title>chat</ion-title>
    </ion-toolbar>
</ion-header>



<ion-tab-bar slot="bottom">

        <ion-tab-button (click)="RotaHome()">
            <ion-icon name="home"></ion-icon>
            
        </ion-tab-button>
    
        <ion-tab-button (click)="RotaPost()">
            <ion-icon name="paper"></ion-icon>
            
        </ion-tab-button>
    
        <ion-tab-button (click)="RotaDiario()">
            <ion-icon name="journal"></ion-icon>
            
        </ion-tab-button>
    
        <ion-tab-button (click)="RotaChat()">
            <ion-icon name="chatboxes"></ion-icon>
            
        </ion-tab-button>
    
        <ion-tab-button (click)="RotaPerfil()">
            <ion-icon name="contact"></ion-icon>
            
        </ion-tab-button>
    
    </ion-tab-bar>
