<ion-header>
  <ion-toolbar style="--background:#F0F8FF">
      <ion-title
          class="textomeu"
          style="color: #18d44d"
      >
          Projeto
          <a class="diariotext">Somos</a>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:#F0F8FF">

  <h1 class="h1">Falta pouco para você fazer parte deste projeto!</h1>
  
  
  <h3 class="h3">Pelo fato de tratarmos com um tema muito delicado, precisamos que você nos encaminhe fotos dos seguntes documentos:</h3>
  
  <h4 class="h5">-RG;</h4>
  <h4 class="h5">-CPF;</h4>
  <h4 class="h5">-Comprovante de residencia;</h4>
  <h4 class="h5">-Diploma de ensino na área de saúde mental;</h4>


  <ion-button  color="primary" class="botao" (click)="rotaLogin()">OK</ion-button>
  

</ion-content>