.tobar{
    height: auto;
    --background: #F0F8FF
}

.textomeu{
    font-size:25px;
    font-weight: bold;
    text-align: center;
}

.diariotext{
    color: #859589
}

.CorFundo{
    --background: url('../../../assets/img/fundoverificacao.png');

}

.botaoConversa{
    --border-radius: 25px;
    width: 80%;
    display: block;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5px;
}

.balaodeConversa{
    margin-right: 8px
}

.avatar{
   margin-top:5px;
   --border-radius:15px;
    --background: #fff
}

.avatarfoto{
    height: 45px;
    width: 45px;
   
}

.conversa{
    font-size: 13px;
}