.projeto{
    text-align: center;
    font-weight: bold;
    
    
}

.cordefundo{
    --background: #F0F8FF;
}

.cortabbar{
    background: #F0F8FF
}

.somos{
    color:#859589;
}

.h1{
    
    
    text-align: center;
   
}

.h2{
    text-align: center;
}

.h3{
    text-align: center;
}

.cordiv{
    background: #859589;
    border-radius: 25px;
    display: block;
    height: auto;
}

.cadastro{
    margin-top:10px;
}

.fotomundo{
display: block;
margin-left: 74px;
margin-right: auto;
display: block;


}

.voltar{
    width: 30px;
    height: 35px;
    
}

.home{
    font-weight: bold;
    margin-bottom: 2px;
    font-size:20px;
    color:blue;
}

.divvoltar{
    margin-top:10px;
    height: auto;

}

.voltarbotao{
    height: 20px;
    width: 20px;
    color:blue;
}

.botao{
    width: 90%;
    border-radius: 25px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    margin-top:20px;
}