<ion-header>
    <ion-toolbar style="--background:#F0F8FF" class="cortabbar">
       
      <ion-title style="color: #18d44d" class="projeto">Projeto <a class="somos">Somos</a></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding class="cordefundo">
  
  
        <h1 class="h1">Publicação realizada com sucesso!</h1>
  
  
  <h3 class="h3">Devido ao teor delicado do assunto abordado, precisaremos verificar algumas coisas referente à sua postagem!</h3>
  
  <img class="fotomundo" src="../../../assets/img/cadastro1.png">

  <ion-button  color="primary" class="botao" (click)="rotapost()">Estou ciente</ion-button>
  
 
  </ion-content>
  