<ion-content class="tsteteste">
    <div class="tsteteste1" >
        <img class="fotologo" src="../../../assets/img/logo.png">
       
        
      
    </div>
    
    
    
    
            <div class="posthome">
                    <img class="posthome" src="../../../assets/img/dados3.png">
                </div>
    
        
        <div class="posthome">
            <img class="posthome" src="../../../assets/img/10-sintomas-físicos-do-estresse.png">
        </div>
    
        
    
        <div class="posthome">
                <img class="posthome" src="../../../assets/img/dados1.jpg">
            </div>
   
         
    </ion-content>
    

<ion-tab-bar slot="bottom">

    <ion-tab-button (click)="RotaModeradorInicio()">
        <ion-icon name="home"></ion-icon>
       
    </ion-tab-button>

    <ion-tab-button (click)="RotaPostModerador()">
        <ion-icon name="paper"></ion-icon>
        
    </ion-tab-button>

    <ion-tab-button (click)="RotaPostVerificacao()">
        <ion-icon name="checkbox"></ion-icon>
        
    </ion-tab-button>


    <ion-tab-button (click)="RotaPerfilModerador()">
        <ion-icon name="contact"></ion-icon>
    
    </ion-tab-button>

</ion-tab-bar>