
  <ion-header style="background-color: green">

    
  </ion-header>
  
  
<ion-content>
 
    <div class="header">
        

      <img class= "avatar" src="../../../../assets/img/alo.jpg">
      <h1 class="userName">{{dadosUsuario.nomeUsuario}} {{sobrenomeUsuario}}</h1>
    </div>

    <ion-button class="buttonAnalise" (click)="RotaAnalise()">
      Ver análise de humor
    </ion-button>

    <ion-item lines="none">
      <ion-label>Nome:<p>{{dadosUsuario.nomeUsuario}} {{sobrenomeUsuario}}</p></ion-label>
    </ion-item>

    <ion-item lines="none">
        <ion-label>Email:<p>{{dadosUsuario.emailUsuario}}</p></ion-label>
      </ion-item>

    <ion-item lines="none">
          <ion-label>Data de nascimento:<p>{{nascimento}}</p></ion-label>
      </ion-item>

      



    <div>
      <ion-button
           class="botaoSair"
          (click)="presentAlert()"
      >
          Sair
      </ion-button>
  </div>
  </ion-content>

  <ion-tab-bar slot="bottom">

      <ion-tab-button (click)="RotaHome()">
          <ion-icon name="home"></ion-icon>
          
      </ion-tab-button>
  
      <ion-tab-button (click)="RotaPost()">
          <ion-icon name="paper"></ion-icon>
          
      </ion-tab-button>
  
      <ion-tab-button (click)="RotaDiario()">
          <ion-icon name="journal"></ion-icon>
         
      </ion-tab-button>
  
      <ion-tab-button (click)="RotaChat()">
          <ion-icon name="chatboxes"></ion-icon>
          
      </ion-tab-button>
  
      <ion-tab-button (click)="RotaPerfil()">
          <ion-icon name="contact"></ion-icon>
         
      </ion-tab-button>
  
  </ion-tab-bar>
  
