<ion-header>
    <ion-toolbar>

        <ion-back-button
            slot="start"
            defaultHref="/post"
        ></ion-back-button>

        <ion-title>Criar um Post</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <form
            [formGroup]="postagemPost"
            (ngSubmit)="postarPost()"
        >

            <ion-item>
                <ion-label position="floating">Conteúdo</ion-label>
                <ion-input
                    type="text"
                    name="nome"
                    [(ngModel)]="conteudoPost"
                    formControlName="conteudoPost"
                ></ion-input>
            </ion-item>

            <div>
                <ion-button
                    expand="full"
                    color="danger"
                    type="submit"
                >
                    Publicar
                </ion-button>
            </div>

        </form>
    </ion-list>

</ion-content>
