.fotomundo{
    margin-right: 5px;
}

.input2{
    height: 150px;
    text-align: initial;
    
}

.conteudopost2{
    margin-bottom: 30px;
    margin-top:30px;
    --border-radius: 20px;
     --background: #33CCFF;
     width: 90%;
     margin-left:auto;
     margin-right: auto;
     display: block;
   
}

.Corfundo{
    --background: #F0F8FF
}