<ion-header>
  <ion-toolbar style="--background:#F0F8FF">
      <ion-title
          class="textomeu"
          style="color: #18d44d"
      >
          Projeto
          <a class="diariotext">Somos</a>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:#F0F8FF">

  <h1 class="h1">Esta etapa esta finalizada!</h1>
  
  
  <h3 class="h3">Faço login em nossa plataforma para continuar o processo de cadastramento!</h3>
  
  <img class="fotomundo" src="../../../assets/img/cadastro1.png">

  <ion-button  color="primary" class="botao" (click)="rotaLogin()">Fazer Login</ion-button>
  

</ion-content>