.ChipVerificacao{
   
    margin-right: 15px;
    background: #32CD32;
    color: black;
  
}

.ChipVerificacao2{
  
    background: #EE0000;
    color: black;
}

.justificacao {
    --border-radius: 20px;
    --color:#000;
    --background:#E0FFFF;
    margin-top:10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.botoes{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.textocaixa{
    text-align: center;
}

.imagemAvatar{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

.nomeUsuario{
    margin-top: 10px;

}

.dataPost{
    font-size: 14px;
}

.imagemVerificacao{
    --background: #F0F8FF
}
.diariotext{
    color: #859589
}
.textomeu{
    font-size:25px;
    text-align: center;
    font-weight: bold;
    
}

.corCard{
    background:#fff;
    max-width: 340px;
    max-height: auto;
    height: auto;
    margin-left: auto;
    display: block;
    margin-right: auto;
}