.TituloHome {
    text-align: center;
    font-family: Arial;
    margin-top: 20px;
  }
  
  .fotologo {
    top: 10px;
    text-align: initial;
    margin-top: 40px;
  }
  
  .emoji {
    top: 10px;
    text-align: center;
  }
  
  .emojidiv {
    height: 92.34px;
  }
  
  .comovcesta {
    text-align: center;
    height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 19px;
  }
  
  .posthome {
    border-radius: 20px;
    width: 335px ;
    height: 335px ;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 25px;
  }
  
  .tsteteste{
      --background:	#F0F8FF	
  }
  
  .tsteteste1{
      background: #F0F8FF	
  }
  