

<ion-content class="background">
<div class="div">
  <h1 class="h1" style="text-align: center">Publicação aprovada com sucesso!</h1>
  
  <h2  class="h2" style="text-align: center"> Obrigado por nos ajudar a filtrar as publicações para nossos usuarios!</h2>
  
</div>

  

  <img class="mensagem" src="../../../assets/img/MsgDiarioaprovacao.png">

  <p class="p" style="text-align: center"> Projeto Somos agradece sua participação!</p>

  <ion-button  class="button" (click)="RotaPostVerificacao()" >OK</ion-button>

</ion-content>
