<ion-content class="swiper-no-swiping">

  <div class="container top">
    <img class="imagemLogo" src="/assets/img/logocadastrar.png">

   
      </div>
  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Login</span>

        <ion-item class="ion-margin-top" lines="none">
            <ion-input type="email" placeholder="E-mail" [(ngModel)]= "email"></ion-input>
          </ion-item>
  
        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)]= "senha"></ion-input>
        </ion-item>
        <ion-button class= "ion-margin-top" color="light" expand="block" (click)= " logar() ">
          Entrar
        </ion-button>
        
        <ion-button class= "ion-margin-top" color="light" expand="block" (click)= " RotaCadastrar()" >
            Cadastrar
          </ion-button>
        
        </div>
    </ion-slide>

    
  </ion-slides>
</ion-content>
 