.container{
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    z-index:2;

    &.top{
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 7px;
    }
    &.bottom{
        margin-top: 2px;
        bottom:30%;
        span{
            color:#fff;
        }
    }
}
ion-slides{
    margin-top: 18px;

    .slide-inner{
    width: 75%;
    color: #fff;
    background-color: #0072bc;
    border-radius: 10px;

    ion-item{
        --background: rgba(255,255,255, 0.2);
        --border-radius: 10px;

        ion-input{
            --color: #fff;
            }
        }
   
    }
}

ion-back-button{
    --color:#16d34c;
    --icon-font-size: 30px;
    --margin-top:17px;
    --margin-left:100px;
    
}

.DivBack{
background: transparent;

}

.imagemLogo{
   margin-top:20px;
    width: 70%;
}
