<ion-content class="tsteteste">
    <div class="tsteteste1">
        <img
            class="fotologo"
            src="../../../assets/img/logo.png"
        >
        <h3 class="comovcesta">Como você está se sentindo hoje?</h3>

        <ion-row class="botoes">

            <ion-col >                
                    <img src="../../../assets/img/emojiContente.png" (click)="humorExcelente()">
                
            </ion-col>

            <ion-col style="text-align: center">
                    <img src="../../../assets/img/emojiFeliz.png" (click)="humorFeliz()">
            </ion-col>

            <ion-col style="text-align: center">
                    <img src="../../../assets/img/emojiTedio.png" (click)="humorTedio()">
            </ion-col>

            <ion-col style="text-align: center">
                    <img src="../../../assets/img/emojiChateado.png" (click)="humorTriste()">
            </ion-col>

            <ion-col style="text-align: center">
                    <img src="../../../assets/img/emojiNervoso.png" (click)="humorNervoso()">
            </ion-col>

        </ion-row>
    </div>

    <div class="posthome">
            <img
                class="posthome"
                src="../../../assets/img/dados3.png"
            >
        </div>

        <div class="posthome">
                <img
                    class="posthome"
                    src="../../../assets/img/dados9.png"
                >
            </div>

    <div class="posthome">
            <img
                class="posthome"
                src="../../../assets/img/dados8.png"
            >
        </div>

    <div class="posthome">
            <img
                class="posthome"
                src="../../../assets/img/dados7.png"
            >
        </div>

    <div class="posthome">
            <img
                class="posthome"
                src="../../../assets/img/dados6.png"
            >
        </div>
    
    <div class="posthome">
            <img
                class="posthome"
                src="../../../assets/img/dados5.png"
            >
        </div>

    <div class="posthome">
            <img
                class="posthome"
                src="../../../assets/img/dados4.png"
            >
        </div>



    <div class="posthome">
        <img
            class="posthome"
            src="../../../assets/img/10-sintomas-físicos-do-estresse.png"
        >
    </div>

    <div class="posthome">
        <img
            class="posthome"
            src="../../../assets/img/dados1.jpg"
        >
    </div>

</ion-content>

<ion-tab-bar slot="bottom">

    <ion-tab-button (click)="RotaHome()">
        <ion-icon
            style="color:#18d44d"
            name="home"
        ></ion-icon>

    </ion-tab-button>

    <ion-tab-button (click)="RotaPost()">
        <ion-icon
            style="color:#18d44d"
            name="paper"
        ></ion-icon>

    </ion-tab-button>

    <ion-tab-button (click)="RotaDiario()">
        <ion-icon
            style="color:#18d44d"
            name="journal"
        ></ion-icon>

    </ion-tab-button>

    <ion-tab-button
        style="color:#18d44d"
        (click)="RotaChat()"
    >
        <ion-icon name="chatboxes"></ion-icon>

    </ion-tab-button>

    <ion-tab-button
        style="color:#18d44d"
        (click)="RotaPerfil()"
    >
        <ion-icon name="contact"></ion-icon>

    </ion-tab-button>

</ion-tab-bar>
