<ion-content class="background" padding></ion-content>
<div class="foto">
    <img
        class="imagemLogo"
        src="/assets/img/logocadastrar.png"
    >

    <h1 class="tituloUsuario"> Selecione uma categoria:</h1>
    <ion-button style="border-radius:20px"  (click)="RotaCadastro()" class="usuario">Quero ser usuário!</ion-button>
    <ion-button style="border-radius:20px" (click)="RotaCadastroVoluntario()" class="voluntario">Quero ser voluntário!</ion-button>

    <ion-button class="mensagem" (click)="rotaLogin()">Voltar para tela de login</ion-button>
</div>


