<ion-header>
    <ion-toolbar style="--background:#F0F8FF">
        <ion-title
            class="textomeu"
            style="color: #18d44d"
        >
            Termo
            <a class="diariotext">de Uso</a>
        </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="cordefundo">

<div class="div">
<p class="p">Conteúdo inclui texto, programas, scripts, gráficos, fotos, sons, imagens, músicas, vídeos, combinações audiovisuais, animações, recursos interativos e outros materiais que o(s) Usuário(s) e o(s) Anunciante(s), têm acesso ou submetem a um APP.

    Equipe CAPA é o proprietário do conteúdo que publica no APP SOMOS construído na FITO . A Equipe CAPA declara ter conhecimento de que a responsabilidade pelo conteúdo postado no APP é exclusiva do Usuário que a publicar, entende e concorda que a Equipe CAPA não pode ser responsável pelo conteúdo postado ou compartilhado no Aplicativo.
    
    A Equipe CAPA proíbe a utilização ou transmissão de conteúdos impróprios no APP criado na FITO, conforme listado abaixo, mas não se limitando a:
    Vírus ou outros códigos maliciosos como worms, spywares ou códigos destrutivos
    Publicações que visam intimidar, assediar ou praticar bullying contra qualquer usuário.
    Discurso de ódio; ameaças; incite violência; ou contenha violência gráfica ou desnecessária.
    Conteúdos e discursos discriminatórios que infrinjam o Artigo 5º, inciso XLI, da Constituição Federal.
    
    O Usuário concorda ainda em usar o SERVIÇO por sua própria conta e risco. A Equipe CAPA não será responsável por quaisquer danos diretos, indiretos, incidentais, especiais, consequenciais ou exemplares, incluindo, mas não limitado, a danos por perda de lucros, dados ou outras perdas intangíveis, em decorrência da utilização imprópria de tais conteúdos.
    
    Todas as infrações relativas a direitos de propriedade intelectual dos conteúdos publicados e compartilhados no APP são de exclusiva responsabilidade do Usuário que o publicar, não podendo a Equipe CAPA em hipótese alguma ser responsabilizada pelo uso indevido de tais conteúdos, reservando-se no direito de caso ter conhecimento de sua ilegalidade ou uso indevido, remover a CONTA do Usuário e excluir seu Perfil, sem qualquer notificação.
    
    Caso o Usuário encontre conteúdos ou materiais que considere ofensivo ou que viole direitos de terceiros no APP, este deverá avisar imediatamente o suporte via suporte e-mail do suporte projetosomos@hotmail.com e a Equipe CAPA se compromete a investigar referida denúncia. A Equipe CAPA ainda está autorizada a cancelar a CONTA do Usuário em detrimento de exigências emanados do poder judiciário.
    Caso a Equipe CAPA venha a ser acionada ou condenada judicialmente, por violações cometidas pelo Usuário, em violação a estes TERMOS DE USO, o Usuário declara e concorda que deverá ressarcir a Equipe CAPA dos valores despendidos, corrigidos monetariamente, bem como das perdas e danos.
    
    O Usuário concorda em ceder os direitos de uso de imagem e de seus dados, para o uso pela Equipe CAPA, em mídia espontânea, sem prazo determinado, de forma gratuita, sem que este possua o direito a qualquer tipo de remuneração em decorrência deste uso.
    
    A Equipe CAPA não se responsabiliza de maneira nenhuma, caso o Profissional Voluntário e o Usuário marque de se encontrar em qualquer lugar por meio do Chat do APP colocando suas vidas em risco.
    
    Termos citados anteriormente são impostos a todos os Tipos de Usuário sejam eles:
    Usuário Comum
    Profissional Voluntário
    Moderador
    Administrador
    
    Ass: Equipe CAPA proprietária do APP SOMOS</p>
  </div>

  <ion-button class="botao" (click)="rotaLogin()">Estou ciente</ion-button>

</ion-content>
