.textomeu{
    font-size:25px;
    text-align: center;
    font-weight: bold;
}

.diariotext{
    color: #859589;
}

.titulo{
    text-align: center;
    font-size:25px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.subtitulo{
    text-align: center;
    font-size:25px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color:#18d44d;
    font-weight: bold;

}

.projeto{
    text-align: center;
    font-weight: bold;
    
    
}

.cordefundo{
    --background: #F0F8FF;
}

.cortabbar{
    background: #F0F8FF
}

.somos{
    color:#859589;
}

.h1{
    
    
    text-align: center;
   
}

.h2{
    text-align: center;
}

.h3{
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
}

.cordiv{
    background: #859589;
    border-radius: 25px;
    display: block;
    height: auto;
}

.cadastro{
    margin-top:10px;
}

.fotomundo{
display: block;
margin-left: 74px;
margin-right: auto;
display: block;


}

.voltar{
    width: 30px;
    height: 35px;
    
}

.home{
    font-weight: bold;
    margin-bottom: 2px;
    font-size:20px;
    color:blue;
}

.divvoltar{
    margin-top:10px;
    height: auto;

}

.voltarbotao{
    height: 20px;
    width: 20px;
    color:blue;
}

.botao{
    width: 90%;
    border-radius: 25px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    margin-top:20px;
}

.div{
    height: 1665px;
    border-radius: 25px;
    width: 90%;
    background: #fff;
    margin-left:auto;
    margin-right: auto;
    display: block;
}

.p{
    margin:20px;
   margin-top:20px;
    text-align: justify;
}

.botao{
    margin-bottom: 20px;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    display: block;
}


