.background{
    --background: #F0F8FF
}

.div{
    margin-top: 60px;
   
  
}

.button{
    margin-top:10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block

}

.p{
    margin-top:30px;
}

.h2{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.mensagem{
    margin-left: auto;
    margin-right: auto;
    display: block
}