
    <ion-header>
        <ion-toolbar>
            <ion-title>diario</ion-title>
        </ion-toolbar>
    </ion-header>  


<ion-content>  
    <ion-refresher slot="fixed"(ionRefresh)="doRefresh($event)">      
    <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    
    <ion-list>
        <ion-card
            class="corCard"
            *ngFor="let diario of diarioItem"
        >
            <img src="../../../assets/img/peter.jpg">
            <ion-card-header>
                <ion-card-title>{{diario.tituloDiario}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>{{diario.conteudoDiario}}</ion-card-content>
            <ion-label>{{diario.dataDiario}}</ion-label>
        </ion-card>
    </ion-list>
</ion-content>

<ion-fab
    class="botaomais"
    vertical="center"
    horizontal="end"
    slot="fixed"
>
    <ion-fab-button (click)="RotaCadastrarDiario()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-tab-bar
    class="tab"
    slot="bottom"
>

    <ion-tab-button (click)="RotaChat()">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>chat</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="RotaDiario()">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Diário</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="RotaPost()">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Post</ion-label>
    </ion-tab-button>
</ion-tab-bar>
