.cordefundo{
--background:#F0F8FF
}

.colorbotao{
    --background: #18d44d;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
  
   
}

.content{
    
}

.cormundinho{
    background: #F0F8FF

}

.fotomundo{
    display: block;
    margin-left: 105px;
    margin-right: auto;
    display: block;
    width: 270px;
    height: 240px;
    margin-bottom: 10px;
}

.textotitulo{
    border-radius: 20px;
    margin-bottom: 20px;
}

.tituli{
   margin-bottom: 30px;
   --border-radius: 20px;
    --background: #33CCFF;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    display: block;
  

    
}

.conteudodiario{
    margin-bottom: 50px;
    --border-radius: 20px;
     --background: #33CCFF;
     width: 90%;
     margin-left:auto;
     margin-right: auto;
     display: block;
 
}

.input{
    height: 150px;
    text-align: initial
}

.input2{
    height: 44px;
    text-align: initial
}