.textomeu{
    font-size:25px;
    text-align: center;
    font-weight: bold;
}

.diariotext{
    color: #859589
}

.corfundo{
    --background: url('../../../assets/img/fundoverificacao.png');
   
    text-align: center;
}

.Titulo{
    font-size:20px;
    text-align: center;
    color:#000;
    
}

.nome{
    text-align: center;
}

.dado{
    text-align: center;
}

.ChipVerificacao{
   
    margin-right: 15px;
    background: #32CD32;
    color: black;
  
}

.ChipVerificacao2{
  
    background: #EE0000;
    color: black;
}