
  <ion-header style="background-color: green">

    
  </ion-header>
  
  
<ion-content>
  <div >
    <ion-icon class="config" class="config" name="settings">     
    </ion-icon>
  </div>
    <div class="header">
        

      <img class= "avatar" src="../../../../assets/img/alo.jpg">
      <h1 class="userName">{{dadosUsuario.nomeUsuario}} {{dadosUsuario.sobrenomeUsuario}}</h1>
    </div>

    <ion-item>
      <ion-label></ion-label>
    </ion-item>
  
    <div>
      <ion-button
          expand="full"
          (click)="Sair()"
      >
          Sair
      </ion-button>
  </div>
  </ion-content>

  <ion-tab-bar slot="bottom">

    <ion-tab-button (click)="RotaProfissionalInicio()">
      <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="RotaPostProfissional()">
      <ion-icon name="paper"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="RotaChatProfissional()">
    <ion-icon name="chatboxes"></ion-icon>
  </ion-tab-button>


  <ion-tab-button (click)="RotaPerfilProfissional()">
      <ion-icon name="contact"></ion-icon>
  </ion-tab-button>
  
  </ion-tab-bar>
  
