<ion-header>
    <ion-toolbar style="--background:#F0F8FF">
        <ion-title
            class="textomeu"
            style="color: #18d44d"
        >
            Projeto
            <a class="diariotext">Somos</a>
        </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding class="cordefundo">


      <h1 class="h1">Falta pouco</h1>



<h2 class="h2">Nossa equipe esta analisando seu perfil, por favor aguarde!</h2>



<img class="fotomundo" src="../../../assets/img/cadastro1.png">

<div class="divvoltar">

    <ion-button (click)="rotaLogin()" class="home"> Voltar ao Login</ion-button>
    
    </div>

</ion-content>
